/*
Derived from UKPOL CSS - CC BY-SA 4.0
version:   1.0 
date:      01/08/2014 
author:    Richard Allen 
email:     rourkie@gmail.com 
website:   http://www.richardallen.co.uk
This is accurate as of 1st August 2014, with department colours being taken from gov.uk, Party colours being taken from brand guidelines
and Executive colours being taken from a mix of brand guidelines and their websites.
Some of the fonts are licensed - so only freely available fonts are used below.
*/ 

.Conservative .hi {
  background-color: white;
  color: #0087dc;
  padding-right:0.5em;
  padding-left: 0.5em;
}

.Labour .hi {
  background-color: white;
  color: #d50000;
  padding-right:0.5em;
  padding-left: 0.5em;
}

.LiberalDemocrat .hi {
  background-color: white;
  color: #FDBB30;
  padding-right:0.5em;
  padding-left: 0.5em;
}

.PlaidCymru .hi {
  background-color: white;
  color: #3F8428;
  padding-right:0.5em;
  padding-left: 0.5em;
}

.IndependentLiberalDemocrat .hi {
  background-color: white;
  color: #00929F;
  padding-right:0.5em;
  padding-left: 0.5em;
}

.Other .hi {
  background-color: white;
  color: #D3D3D3;
  padding-right:0.5em;
  padding-left: 0.5em;
}

.thname {
  width: 30%;
  padding: 0.5em;
  border: 5px solid white;
}

.thextract {
  font-weight: normal;
  width: 70%;
  padding: 0.5em;
  border: 5px solid white;
}

.Conservative { background-color: #0087dc; color: #fff;}
.Labour {background:#d50000; color: #fff;}
.LiberalDemocrat {background:#FDBB30; color: #fff;}
.PlaidCymru {background:#3F8428; color: #fff;} 
.IndependentLiberalDemocrat {background:#00929F; color: #fff;}
.Other {background-color:#D3D3D3 ; color: #fff;}
